<!-- Modal -->
<div id="newAppModal" {{#unless errors}}style="display:none"{{/unless}}>
    <!-- Modal Content -->
    <div id="newAppContent">

        <button id="closeNewApp">&times;</button>
        <form id="newAppForm" name="newAppForm" action={{route}} method="POST" enctype="multipart/form-data">
            <p><span class="star">*</span> Indicates Required Field</p>
            <!-- Company Name -->
            <div>
            <label for="companyName">Company Name <span class="star">*</span></label>
            <input type="text" name="companyName" id="companyName" value="{{application.companyName}}">
            <span class="form-error">{{errors.companyName}}</span>
                <ul id="result-box" class="result-box">
                </ul>
            </div>

            <!-- Job Position -->
            <label for="jobPosition">Job Position <span class="star">*</span></label>
            <input type="text" name="jobPosition" id="jobPosition" value="{{application.jobPosition}}">
            <span class="form-error">{{errors.jobPosition}}</span>

            <!-- Job City -->
            <label for="appCity">City <span class="star">*</span></label>
            <input type="text" name="appCity" id="appCity" value="{{application.appCity}}">
            <span class="form-error">{{errors.appCity}}</span>

            <!-- Job State -->
            <label for="appState">State <span class="star">*</span></label>
            <select id="appState" name="appState">
                {{#select application.appState}}
                <option value="">Select State</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="AS">American Samoa</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District of Colombia</option>
                <option value="FM">Federated States of Micronesia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="GU">Guam</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MH">Marshall Islands</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Ninnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dekota</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PW">Palau</option>
                <option value="PA">Pennsylvania</option>
                <option value="PR">Puerto Rico</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="VI">Virgin Islands</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
                {{/select}}
            </select>
            <span class="form-error">{{errors.appState}}</span>

            <!-- Follow-Up Date -->
            <label for="followUpDate">Follow Up Date</label>
            <input type="date" name="followUpDate" id="followUpDate" min={{get_current_date}} value="{{reformat_date application.followUpDate}}">
            <span class="form-error">{{errors.followUpDate}}</span>

            <!-- Resume -->
            <label for="appResume">Resume </label>
            <input type="file" name="appResume" id="appResume">
            <span class="form-error">{{errors.appResume}}</span>

            <!-- Application Status -->
            <label for="status">Status <span class="star">*</span></label>
            <select name="status" id="status">
                {{#select application.status}}
                <option value="">Select Status</option>
                <option value="Saved">Saved</option>
                <option value="Applied">Applied</option>
                <option value="Screening">Screening</option>
                <option value="Interviewing">Interviewing</option>
                <option value="Hired">Hired</option>
                <option value="Rejected">Rejected</option>
                {{/select}}
            </select>
            <span class="form-error">{{errors.status}}</span>

            <!-- Submit Button -->
            <button type="submit" class="btn orange-btn dark">Submit</button>
        </form>
    </div>
</div>