{{#with application}}
<div class="app-btn-container">
    <button id="newAppButton" class="btn orange-btn dark">Edit Application</button>
    <button id="deleteAppButton" class="btn orange-btn dark">Delete Application</button>
</div>
<article class="app-info-container">
    <h2>{{jobPosition}}</h2>
    <dl>
        <div>
            <dt>Company Name:</dt>
                <dd>{{companyName}}</dd>
        </div>
        <div>
            <dt>Location:</dt>
                <dd>{{appCity}}, {{appState}}</dd>
        </div>
        <div>
            <dt>Date Applied:</dt>
                <dd>{{date}}</dd>
        </div>
        <div>
            {{#if followUpDate}}<dt>Follow-Up Date:</dt>
                <dd>{{followUpDate}}</dd>{{/if}}
        </div>
        <div>
            <dt>Status:</dt>
                <dd>{{status}}</dd>
        </div>
        <div>
            {{#if appResume}}<dt>Resume:</dt>
            <dd><a href="{{appResume.url}}" target="_blank"> {{appResume.fileName}}</a></dd>{{/if}}
        </div>  
    </dl>
</article>
<section class="notes-container">
    <h2>Notes</h2>
    <form id="note-form">
        <label id="form-label" for="note-input">New Note</label>
        <textarea id="note-input"></textarea>
        <input class="btn green-btn dark" type="submit" value="Submit" id="note-submit">
    </form>
    <p id="note-error"></p>
    <button id="form-reset">Reset Form</button>
    <ol id="note-list">
        {{#each Notes}}
            <li class="note" data-id={{_id}}>
                <cite>{{date}} {{time}}</cite>
                <p class="note-content">{{text}}</p>
                <button onclick="javascript:void(0)" class="btn orange-btn dark">Edit</button>
                <button onclick="javascript:void(0)" class="btn orange-btn dark">Delete</button>
            </li>
        {{/each}}
    </ol>
</section>
{{/with}}
{{> appModal method="POST" route=(concat "/applications/" application._id)}}