<link rel="stylesheet" href="../public/css/applicationPage.css">
{{#with application}}
<button id="newAppButton" class="btn orange-btn dark">Edit Application</button>
<article>
    <h2>{{jobPosition}}</h2>
    <section>
        <dl>
            <dt>Company Name:</dt>
                <dd>{{companyName}}</dd>
            <dt>Location:</dt>
                <dd>{{appCity}}, {{appState}}</dd>
            <dt>Date Applied:</dt>
                <dd>{{date}}</dd>
            {{#if followUpDate}}<dt>Follow-Up Date:</dt>
                <dd>{{followUpDate}}</dd>{{/if}}
            <dt>Status:</dt>
                <dd>{{status}}</dd>
        </dl>
    </section>
</article>
<h2>Notes</h2>
    <form id="note-form">
        <label id="form-label" for="note-input">New Note</label>
        <textarea id="note-input"></textarea>
        <input type="submit" value="Submit" id="note-submit">
    </form>
    <p id="note-error"></p>
    <button id="form-reset">Reset Form</button>
    <ol id="note-list">
        {{#each Notes}}
            <li class="note" data-id={{_id}}>
                <cite>{{date}} {{time}}</cite>
                <p class="note-content">{{text}}</p>
                <button onclick="javascript:void(0)" class="editButton">Edit</button>
                <button onclick="javascript:void(0)" class="deleteButton">Delete</button>
            </li>
        {{/each}}
    </ul>
{{/with}}
{{> appModal method="POST" route=(concat "/applications/" application._id)}}