<link rel="stylesheet" href="../public/css/applicationPage.css">
<h1>Applications</h1>
<table id="applicationTable">
    <tr>
        <th>Position</th>
        <th>Company</th>
        <th>City</th>
        <th>State</th>
        <th>Date</th>
        <th>Status</th>
    </tr>
    {{#each applications}}
    <tr>
        <td><a href="/applications/{{_id.$oid}}">{{jobPosition}}</a></td>
        <td>{{companyName}}</td>
        <td>{{appCity}}</td>
        <td>{{appState}}</td>
        <td>{{date}}</td>
        <td>{{status}}</td>
    </tr>
    {{/each}}
</table>