<article>
    <h2>{{jobPosition}}</h2>
    <section>
        <dl>
            <dt>Company Name:</dt>
                <dd>{{companyName}}</dd>
            <dt>Location:</dt>
                <dd>{{appCity}}, {{appState}}</dd>
            <dt>Date Applied:</dt>
                <dd>{{date}}</dd>
            <dt>Follow-Up Date:</dt>
                <dd>{{followUpDate}}</dd>
            <dt>Status:</dt>
                <dd>{{status}}</dd>
        </dl>
    </section>
</article>