{{#each companies}}
<div class="company-card">
    <a class="company-link" href="javascript:void(0)" data-id="{{_id}}">{{company}}</a>
  <img src="{{logoUrl}}" alt="Company Logo">
  <div class="company-details">
    <h3>{{company}}</h3>
    <p>{{sector}}</p>
  </div>
</div>

<!-- Modal for Company Details -->
<div class="modal-container" id="modal-{{_id}}">
    <div class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>{{company}}</h2>
            <p><strong>Sector:</strong> {{sector}}</p>
            <p><strong>Revenue:</strong> {{revenue}}</p>
            <!-- Add more fields as needed -->
        </div>
    </div>
</div>
{{/each}}


