<link rel="stylesheet" href="../public/css/applicationPage.css">
<h1>Welcome {{user.firstName}} {{user.lastName}}!</h1>
<div id="applicationHeader">
    <h2>Applications</h2>
    <button id="newAppButton">New Application</button>
</div>

<table id="applicationTable">
    <tr>
        <th>Position</th>
        <th>Company</th>
        <th>City</th>
        <th>State</th>
        <th>Date</th>
        <th>Status</th>
    </tr>
    {{#each applications}}
    <tr>
        <td><a href="/applications/{{_id}}">{{jobPosition}}</a></td>
        <td>{{companyName}}</td>
        <td>{{appCity}}</td>
        <td>{{appState}}</td>
        <td>{{date}}</td>
        <td>{{status}}</td>
    </tr>
    {{/each}}
</table>

{{> appModal method="POST" route="/dashboard"}}