<h1 class="profile-header">Profile Details</h1>
<section class="profile-card">
    <h2 style="visibility:hidden; font-size:.1px">User Details</h2>
    <ul>
        <li>Name: <strong>{{user.firstName}} {{user.lastName}}</strong></li>
        <li>Email: <strong>{{user.email}}</strong></li>
        <li>City: <strong>{{user.city}}</strong></li>
        <li>State: <strong>{{user.state}}</strong></li>
        {{#if (checkIsNotEmptyString user.desiredPosition)}}
            <li>Desired Job Position: <strong>{{user.desiredPosition}}</strong></li>
        {{/if}}
        {{#if (checkIsNotEmptyString user.dreamJob)}}
            <li>Dream Job: <strong>{{user.dreamJob}}</strong></li>
        {{/if}}
        {{#if (checkIsNotEmptyString user.highestEducation)}}
            <li>Highest Education: <strong>{{user.highestEducation}}</strong></li>
        {{/if}}
        {{#if (checkIsNotEmptyString user.specialization)}}
            <li>Specalization: <strong>{{user.specialization}}</strong></li>
        {{/if}}
        {{#if (checkIsNotEmptyString user.skills)}}
            <li>Skills: <strong>{{user.skills}}</strong></li>
        {{/if}}
        
    </ul>
    <div class="btn-container">
        <button type="button" id="showEditProfile" class="btn green-btn dark">Edit Profile</button>
        <button type="button" id="showChangePassword" class="btn green-btn dark">Change password</button>
    </div>
</section>

{{> editProfileModal}}
{{> changePasswordModal}}
